* {
  box-sizing: border-box;
}
html, body {
  padding : 0px;
  margin : 0px;
  background-color: #FFC700; 
  color : black;
  overflow-x : hidden;
  overflow-y: hidden;
}

a{
    text-decoration: inherit;
    color: inherit;
}
a:hover {
  cursor : pointer;
  color : rgb(0, 0, 87);
}

.pg-body {
  background-image: url("./Assets/Images/31.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  width: 100vw;
  height : 80vh;
  margin-top : 20px;

  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-input{
  width : 70vw;
  height : 60px;
  border : 2px solid black;
  padding-left : 10px;
  font-family: "Roboto Mono";
  font-size: 20px;
  font-weight: 700;
  color : rgb(0, 0, 87);
  background: rgba(250,250,250,0.5);
  box-shadow: 5px 5px 0px black;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .text-input, .emotion-output , .predict-button {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

.predict-button {
  width : 180px;
  height : 40px;
  font-size: 18px;
  font-family: "Roboto Mono";
  font-weight: 500;
  background: rgba(250,250,250,0.7);
  color : black;
  margin-top : 30px;
  box-shadow: 5px 5px 0px black;
}

.predict-button:hover {
  background-color: #f9ca24;
  cursor : pointer;
}
.emotion-output{
  
  font-family: "Roboto Mono";
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  padding: 5px 10px;
  margin-top: 30px;
  border : 2px solid rgb(0, 0, 0);
  color : rgb(0, 0, 87);
  background: rgba(250,250,250,0.7);
  box-shadow: 4px 4px 0px black;
  
}

.pg-header{
  font-family : 'unbounded', cursive;
  font-size: 24px;
  box-shadow: 2px 2px rgba(128, 128, 128,0.4);
  width : 100vw;
  text-align: center;
  text-shadow: -2px 2px 0px white;
}

.pg-header:hover {
  cursor :default
}

.pg-footer {
  font-family: "Roboto Mono";
  font-size: 14px;
  padding : 0px;
  margin : 0px;
}

.App {
  display  :flex;
  height : 100vh;
  overflow-y : hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


@media only screen and (max-width: 480px) {

.pg-header{
  font-size: 14px;
}

.text-input{
  width : 90vw;
  height : 50px;
  font-size: 18px;
  font-weight: 700;
}

.emotion-output{
  font-size: 20px;
  font-weight: 700;
}
}